In [26]:
import pandas as pd
import numpy as np

In [27]:
train_df=pd.read_csv("train.csv")
test_df=pd.read_csv("test.csv")

In [28]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [30]:
train_df.drop(columns=["Cabin"],inplace=True)

In [31]:
test_df.drop(columns=["Cabin"],inplace=True)

In [32]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [33]:
train_df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [34]:
train_df['Embarked']=train_df["Embarked"].fillna('S')

In [35]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
dtype: int64

In [36]:
test_df.isnull().sum()

PassengerId     0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            1
Embarked        0
dtype: int64

In [37]:
test_df['Fare']=test_df['Fare'].fillna(test_df['Fare'].mean())

In [38]:
test_df.isnull().sum()

PassengerId     0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            0
Embarked        0
dtype: int64

now next step is fill the values of missing cells of age column such a way it pimprove the predection. we generate number between mean and standard deviation.

In [41]:
train_age=np.random.randint(train_df['Age'].mean()-train_df['Age'].std(),train_df['Age'].mean()+train_df['Age'].std(),177)
test_age=np.random.randint(test_df['Age'].mean()-test_df['Age'].std(),test_df['Age'].mean()+test_df['Age'].std(),86)

In [43]:
train_df['Age'][train_df['Age'].isnull()]=train_age

C:\Users\dell\AppData\Local\Temp/ipykernel_8372/14118295.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  train_df['Age'][train_df['Age'].isnull()]=train_age
C:\Users\dell\AppData\Local\Temp/ipykernel_8372/14118295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['Age'][train_df['Age'].isnull()]=train_age

In [44]:
train_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [45]:
test_df['Age'][test_df['Age'].isnull()]=test_age

C:\Users\dell\AppData\Local\Temp/ipykernel_8372/3597381426.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Age'][test_df['Age'].isnull()]=test_age
C:\Users\dell\AppData\Local\Temp/ipykernel_8372/3597381426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['Age'][test_df['Age'].isnull()]=test_age

In [46]:
test_df.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Eda stage here we take a column and analyze it is usedul or not.

In [47]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [48]:
train_df.drop(columns=['Ticket'],inplace=True)
test_df.drop(columns=['Ticket'],inplace=True)

In [59]:
train_df['family']=train_df['SibSp']+train_df['Parch']+1
test_df['family']=test_df['SibSp']+test_df['Parch']+1

In [60]:
train_df['family'].value_counts()

family
1     537
2     161
3     102
4      29
6      22
5      15
7      12
11      7
8       6
Name: count, dtype: int64

In [61]:
def cal(number):
    if number==1:
        return "alone"
    elif number>1 and number<5:
        return "Medium"
    else:
        return "Large"

In [62]:
train_df['family size']=train_df['family'].apply(cal)
test_df['family size']=test_df['family'].apply(cal)

In [64]:
passengerId=test_df['PassengerId'].values

In [66]:
train_df.drop(columns=['Name','PassengerId'],inplace=True)
test_df.drop(columns=['Name','PassengerId'],inplace=True)

In [67]:
train_df=pd.get_dummies(train_df,cloumns=['Pclass','Sex','Embarked','familysize'],drop_first=True)
test_df=pd.get_dummies(test_df,cloumns=['Pclass','Sex','Embarked','familysize'],drop_first=True)

TypeError: get_dummies() got an unexpected keyword argument 'cloumns'

In [69]:
X=train_df.iloc[:,1:].values
Y=train_df.iloc[:,0].values

In [70]:
from sklearn.model_selection import train_df_test_split
X_train,Y_train,x_train ,y_train=train_df_test_split(X,y,test_size=0.2)

ImportError: cannot import name 'train_df_test_split' from 'sklearn.model_selection' (C:\Users\dell\anaconda3\lib\site-packages\sklearn\model_selection\__init__.py)

In [72]:
from sklearn.tree import DecesionTreeClassifier
classifier=DecisionTreeClassifier()

ImportError: cannot import name 'DecesionTreeClassifier' from 'sklearn.tree' (C:\Users\dell\anaconda3\lib\site-packages\sklearn\tree\__init__.py)

In [73]:
classifier.fit(X_train,y_train)

NameError: name 'classifier' is not defined

In [74]:
y_pred=classifier.predict(X_test)

NameError: name 'classifier' is not defined

In [75]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

NameError: name 'y_pred' is not defined

In [76]:
Xf=test_df.iloc[:,:].values

In [77]:
y_final=classifier.predict(Xf)

NameError: name 'classifier' is not defined

In [79]:
final=pd.DataFrame()
final

Empty DataFrame
Columns: []
Index: []

In [80]:
final['passengerId']=passengerId
final['survived']=y_final

NameError: name 'y_final' is not defined

In [81]:
final

     passengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]